<h1>Page des potins </h1>

<p></p>

      <h4>Voici la page du potin n°<%= params['id'] %></h4>

      	 	


      <p></p>
          <a>Le titre du potin est: <%=  @title %></a></br>
       <p></p>
          <h4>Ci dessous le contenu de ton potin préféré:</h4> 
      		<a>	<%= @content %></a>







