<h1>Page des potins </h1>

<p>Fpppppppb</p>

      <h2>Voici la page du potin n°<%= params['id'] %></h2>
          <a>Le titre du potin est: <%=  @title %></a></br>
          <a>Le contenu est : <%= @content %></a>





